.intro {
  width: 690px;
  min-height: 429px;
  padding: 0;
  padding-bottom: 92px;
  margin: 0 auto 0 228px;
}

@media screen and (max-width: 1280px) {
  .intro {
    margin: 0 442px 0 148px;
  }
}

@media screen and (max-width:1024px) {
  .intro {
    margin: 0 286px 0 176px;
  }
}

@media screen and (max-width:768px) {
  .intro {
    width: 720px;
    margin: 0 auto 0 auto;
    padding-bottom: 88px;
  }
}

@media screen and (max-width:320px) {
  .intro {
    width: 288px;
    margin: 0 auto 0 auto;
    padding-bottom: 64px;
  }
}
