.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  width: 640px;
  text-align: center;
  margin: 0 172px 64px 172px;
  padding: 0;
}

@media screen and (max-width:768px) {
  .lead__subtitle {
    margin: 0 auto 56px auto;
  }
}

@media screen and (max-width:320px) {
  .lead__subtitle {
    margin: 0 auto 40px auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    width: 288px;
  }
}
