.cover {
  background-image: url(../../sprint-3-images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 100%;
  max-width: 1280px; */
  height: calc(100vw * .625);
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width:1024px) {
  .cover {
    width: 100%;
    max-width: 1024px;
  }
}

@media screen and (max-width:768px) {
  .cover {
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (max-width:320px) {
  .cover {
    width: 100%;
    max-width: 320px;
    margin: 0;
  }
}
