.footer {
  width: 90%;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 92px 0 24px 0;
  margin: 0 auto 0 auto;
}

@media screen and (max-width:1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width:768px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width:320px) {
  .footer {
    max-width: 186px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 118px 0 16px;
    padding: 64px 0 24px 0;
  }
}
